
/*-----------------------------------------------------------------------Nav bar----------------------------------------------------------*/


#menuToggle {
    display: none;
}

#menuToggle:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    
}

#menulist{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 200px; 
    height:fit-content;
    text-align: center;
    list-style-type: none;
}

#menulist li {
    padding-bottom: 5px; 
}

@media only screen and (max-width: 900px) {
    #menuToggle, #Srikanth_Name{
        display: inline;
    }
    .menubar li {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    #menulist li , #menulist{
        display: none;
    }
}

/*-----------------------------------------------------------------------body----------------------------------------------------------*/
   
    @media only screen and (max-width: 500px){
        .headers{
            font-size: large;
        }
    }

    @media only screen and (max-width: 410px){
        .home_container, .about_container , .services_container, .reviews_container{
            max-width: 95%;
        }
    }

    @media only screen and (max-width: 700px){
        .swan3 img{
            height: 200px;
        }
    }

/*-----------------------------------------------------------------------home----------------------------------------------------------*/

@media only screen and (max-width: 1400px){
    .welcome_text1{
        max-width: 300px;
        font-size: x-large;
    }

    .welcome_text2{
        max-width: 300px;
        font-size: medium;
    }
    .photos_chunk{
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1200px){
    .welcome_text1{
        max-width: 300px;
        font-size: x-large;
    }

    .welcome_text2{
        max-width: 300px;
        font-size: medium;
    }
    .photos_chunk{
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 1100px){
    .welcome_text2{
        margin-top: 20px;
        max-width: 300px;
        font-size: medium;
    }

    .home_container{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .photos_chunk {
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 580px){
    .welcome_text2{
        margin-top: 20px;
        max-width: 300px;
        font-size: large;
        text-align: left;
    }

    .home_container{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .photos_chunk {
        transform: scale(1);
        flex-direction: row;
    }
    .profile_content1 {
        transform: scale(0.7);
        visibility: visible;
    }
    .profile_photo1{
        box-shadow: 5px 5px 5px rgb(255, 0, 0);
    }
    .profile_content2{
        transform: translateX(0px) translateY(0px) scale(0.6);
        rotate: 0deg;
        visibility: hidden;
    }
    .profile_content3{
        transform: translateX(0px) translateY(0px) scale(0.65);
        rotate: 0deg;
        visibility: hidden;
    }
    .profile_content4{
        transform: translateX(0px) translateY(0px) scale(0.6);
        rotate: 0deg;
        visibility: hidden;
    }
    .profile_content5{
        transform: translateX(0px) translateY(0px) scale(0.7);
        rotate: 0deg;
        visibility: hidden;
    }
    .profile_content6{
        transform: translateX(0px) translateY(0px) scale(0.7);
        rotate: 0deg;
        visibility: hidden;
    }
    .profile_content7{
        transform: translateX(0px) translateY(0px) scale(0.7);
        rotate: 0deg;
        visibility: hidden;
    }
}

/*-----------------------------------------------------------------------about----------------------------------------------------------*/

@media only screen and (max-width: 1350px){

    .abt_me{
        flex-direction: column;
    }
    .abt_me_2{
        margin-top: 50px;
    }
    .problems{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px){

    .abt_me_1, .abt_me_2{
        font-size: medium;
        height: fit-content;
        width: 300px;
    }
}

@media only screen and (max-width: 700px){

    .problems{
        font-size: larger;
    }

    .problems li{
        margin-bottom: 10px;
    }
}

/*-----------------------------------------------------------------------Services----------------------------------------------------------*/


@media only screen and (max-width: 500px){

    .wrapper{
        margin-top: 150px;
    }

    .wrapper i:first-child{
        left: -50px;
    }
    .wrapper i:last-child{
        right: -50px;
    }

    .video-container iframe{
        width:130;
        height:80;
    }

    .card .video-container .about_the_work{
        font-size: small;
    }

    .try_button{
        margin-left: 30px;
    }
}

/*-----------------------------------------------------------------------reviews----------------------------------------------------------*/

@media only screen and (max-width: 1100px){
    .reviews_container_2 {
        display: grid;
        grid-auto-rows: minmax(200px, 200px);
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
        padding: 10px;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 500px){
    .reviews_container_2 {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
        padding: 10px;
        margin-top: 100px;
    }
    .rp_text{
        font-size: small;
    }
    .review_person{
        flex-direction: column;
        height: 350px;
    }
    
}


/*-----------------------------------------------------------------------contact----------------------------------------------------------*/

@media only screen and (max-width: 1020px){
    .form-group-title{
        width: 100px;
    }
    .contact-form input, .contact-form textarea{
        width: 400px;
    }
    .contact-form {
        border-spacing: 30px 20px; 
      }
}

@media only screen and (max-width: 900px){

    .contact-form input, .contact-form textarea{
        width: 350px;
    }
    .contact-form {
        border-spacing: 20px 20px; 
      }
}

@media only screen and (max-width: 770px){

    .contact-form input, .contact-form textarea{
        width: 300px;
    }
    .contact-form {
        border-spacing: 0px 20px; 
      }
}

@media only screen and (max-width: 690px){
    .contact-form-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        border-spacing: 0px 20px; 
      }

    .logos li a i{
        font-size: large;
    }

    .logos li{
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .Srikanth_Name_2{
        font-size: medium;
        animation: nametransition 3s ease-in-out infinite;
    }

}


